<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" (click)="dismiss()">
      {{'CANCEL' | translate }}
    </ion-buttons>
    <ion-title>{{'PATIENT.ADD_PATIENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="patientForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">{{'PATIENT.NAME' | translate }}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['name']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.EMAIL' | translate }}</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['email']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.PHONE' | translate }}</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['phone']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.DATE_OF_BIRTH' | translate }}</ion-label>
        <ion-datetime formControlName="date_of_birth" display-format="DD/MMM/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['date_of_birth']"></app-control-error-message>

      <ion-radio-group formControlName="gender">
        <ion-list-header>
          {{'PATIENT.GENDER' | translate }}
        </ion-list-header>

        <ion-item>
          <ion-label>{{'PATIENT.MALE' | translate }}</ion-label>
          <ion-radio value="male"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>{{'PATIENT.FEMALE' | translate }}</ion-label>
          <ion-radio value="female"></ion-radio>
        </ion-item>
        <app-control-error-message [control]="patientForm['controls']['gender']"></app-control-error-message>
      </ion-radio-group>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.ADDRESS' | translate }}</ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['address']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.DIAGNOSIS' | translate }}</ion-label>
        <ion-textarea formControlName="diagnosis"></ion-textarea>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['diagnosis']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.HAS_GUARDIAN' | translate }}</ion-label>
        <ion-checkbox formControlName="has_guardian"></ion-checkbox>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['has_guardian']"></app-control-error-message>

      <ion-item *ngIf="patientForm['controls']['has_guardian'].value" >
        <ion-label position="stacked">{{'PATIENT.GUARDIAN_NAME' | translate }}</ion-label>
        <ion-input formControlName="guardian_name"></ion-input>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['guardian_name']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.NOTES' | translate }}</ion-label>
        <ion-textarea formControlName="notes"></ion-textarea>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['notes']"></app-control-error-message>
    </ion-list>
    <ion-button expand="block" color="primary" type="submit" [disabled]="!patientForm.valid" (click)="save()">
      {{'PATIENT.ADD_PATIENT' | translate}}</ion-button>
  </form>
</ion-content> -->

<nb-card style="max-width: 800px; width: 700px; max-height: 800px;">
  <nb-card-header>
    <div class="header-container">
      <div class="logo-container">
        <a class="sidebar-toggle">
          <nb-icon icon="person-add-outline"></nb-icon>
        </a>
        <span class="logo" style="font-size: large;">{{'PATIENT.ADD_PATIENT' | translate }}</span>
      </div>

      <div style="margin-left: auto!important;">
        <nb-actions>
          <nb-action badgePosition="right" badgeStatus="danger" title="Close Form" size="giant" (click)="dismiss()">
            <nb-icon class="close-icon" icon="close-circle-outline"></nb-icon>
          </nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-card-header>
  
  <nb-card-body style="overflow: auto; overflow-y:scroll">
    <form [formGroup]="patientForm">
        <div class="form-group">
          <label class="label">Name</label>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Name" formControlName="name">
          <app-control-error-message [control]="patientForm['controls']['name']"></app-control-error-message>
        </div>

        <br>

        <div class="form-group">
          <label class="label">Email</label>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Email" formControlName="email">
          <app-control-error-message [control]="patientForm['controls']['email']"></app-control-error-message>
        </div>

        <br>

        <div class="form-group">
          <label class="label">Phone</label>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Phone" formControlName="phone">
          <app-control-error-message [control]="patientForm['controls']['phone']"></app-control-error-message>
        </div>

        <br>

        <div class="form-group">
          <label class="label">Date of Birth</label>
          <input type="text" nbInput 
                 fullWidth fieldSize="medium" 
                 shape="semi-round" placeholder="Date of birth" 
                 formControlName="date_of_birth" [nbDatepicker]="dateTimePicker">
          <nb-datepicker #dateTimePicker></nb-datepicker>
          <app-control-error-message [control]="patientForm['controls']['date_of_birth']"></app-control-error-message>
        </div>

        <br>

        <div class="form-group">
          <label class="label">Gender</label>
          <nb-radio-group formControlName="gender">
            <nb-radio
              [value]="'female'">
              {{'PATIENT.FEMALE' | translate }}
            </nb-radio>
            <nb-radio
              [value]="'male'">
              {{'PATIENT.MALE' | translate }}
            </nb-radio>
          </nb-radio-group>
          <app-control-error-message [control]="patientForm['controls']['gender']"></app-control-error-message>
        </div>

        <br>
        
        <div class="form-group">
          <label class="label">Address</label>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Address" formControlName="address">
          <app-control-error-message [control]="patientForm['controls']['address']"></app-control-error-message>
        </div>

        <br>

        <div class="form-group">
          <label class="label">Diagnosis</label>
          <textarea rows="3" type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Diagnosis" formControlName="diagnosis"></textarea>
          <app-control-error-message [control]="patientForm['controls']['diagnosis']"></app-control-error-message>
        </div>

        <br>

        <div class="form-group">
          <nb-checkbox formControlName="has_guardian">Has Guardian</nb-checkbox>
          <app-control-error-message [control]="patientForm['controls']['has_guardian']"></app-control-error-message>
        </div>

        <br>

        <div class="form-group" *ngIf="patientForm.controls.has_guardian.value">
          <label class="label">Guardion Name</label>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Guardian Name" formControlName="guardian_name">
          <app-control-error-message [control]="patientForm['controls']['guardian_name']"></app-control-error-message>
        </div>

        <br>

        <div class="form-group">
          <label class="label">Notes</label>
          <textarea rows="3" type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Notes" formControlName="notes"></textarea>
          <app-control-error-message [control]="patientForm['controls']['notes']"></app-control-error-message>
        </div>
    </form>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton fullWidth shape="semi-round" status="info" type="submit" [disabled]="!patientForm.valid" (click)="save()">
      Add New Patient <nb-icon icon="person-add-outline"></nb-icon>
    </button>
  </nb-card-footer>
</nb-card>

<!-- <nb-layout style="width: 100%;">
  <nb-layout-header>
    <div class="header-container">
      <div class="logo-container">
        <a class="sidebar-toggle">
          <nb-icon icon="person-add-outline"></nb-icon>
        </a>
        <a class="logo">{{'PATIENT.ADD_PATIENT' | translate }}</a>
      </div>
    </div>

    <div class="header-container" style="margin-left: auto!important;">
      <nb-actions>
        <nb-action icon="close-circle-outline" badgePosition="right" badgeStatus="danger" title="Add New Patient" size="giant" (click)="dismiss()"></nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>

  <nb-layout-column style="overflow: auto; overflow-y:scroll; height: inherit;">
    <form [formGroup]="patientForm">
      <nb-list>
        <nb-list-item>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Name" formControlName="name">
          <app-control-error-message [control]="patientForm['controls']['name']"></app-control-error-message>
        </nb-list-item>

        <nb-list-item>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Email" formControlName="email">
          <app-control-error-message [control]="patientForm['controls']['email']"></app-control-error-message>
        </nb-list-item>

        <nb-list-item>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Phone" formControlName="phone">
          <app-control-error-message [control]="patientForm['controls']['phone']"></app-control-error-message>
        </nb-list-item>

        <nb-list-item>
          <input type="text" nbInput 
                 fullWidth fieldSize="medium" 
                 shape="semi-round" placeholder="Date of birth" 
                 formControlName="date_of_birth" [nbDatepicker]="dateTimePicker">
          <nb-datepicker #dateTimePicker></nb-datepicker>
          <app-control-error-message [control]="patientForm['controls']['date_of_birth']"></app-control-error-message>
        </nb-list-item>

        <nb-list-item>
          <nb-radio
            [value]="'female'">
            {{'PATIENT.FEMALE' | translate }}
          </nb-radio>
          <nb-radio
            [value]="'male'">
            {{'PATIENT.MALE' | translate }}
          </nb-radio>
          <app-control-error-message [control]="patientForm['controls']['gender']"></app-control-error-message>
        </nb-list-item>

        <nb-list-item>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Address" formControlName="address">
          <app-control-error-message [control]="patientForm['controls']['address']"></app-control-error-message>
        </nb-list-item>

        <nb-list-item>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Diagnosis" formControlName="diagnosis">
          <app-control-error-message [control]="patientForm['controls']['diagnosis']"></app-control-error-message>
        </nb-list-item>

        <nb-list-item>
          <nb-checkbox formControlName="has_guardian">Has Guardian</nb-checkbox>
          <app-control-error-message [control]="patientForm['controls']['has_guardian']"></app-control-error-message>
        </nb-list-item>

        <nb-list-item>
          <input type="text" nbInput fullWidth fieldSize="medium" shape="semi-round" placeholder="Notes" formControlName="notes">
          <app-control-error-message [control]="patientForm['controls']['notes']"></app-control-error-message>
        </nb-list-item>
      </nb-list>
    </form>
  </nb-layout-column>
</nb-layout> -->