// @import '../../../themes';


div.chart {
  /* width: 74vw; */
  /* height: 100vh; */
  margin: 0 auto;
  display: flex;
  // width: 140vh;
  width: 60%;
}

.filters {
  float: left;
  width: fit-content;
}

ion-segment {
  margin-bottom: 10px;
}

ion-item {
  display: inline-block;
  width: fit-content;
  margin-right: 5px;
}

.mat-column-select {
  overflow: initial;
}

.mat-table {
  overflow-x: scroll;
  display: block;
  width: 100%;
}

.mat-header-cell {
  padding: 5px;
}

th {
  background-color: var(--ion-color-primary);
}

td.mat-cell {
  text-align: center;
}

table,
th,
td {
  border: 1px solid var(--ion-color-medium);
}

@media only screen and (max-width: 900px) {
  /* div.chart { 
        width: 700px;
        height: 600px;
    } */
}

.center-div {
  margin: auto; 
  width: 55%;
}

.module-controls {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.module-control {
  width: 15%;
}

.padded {
  // padding: 0.3rem;
}

.filter-label {
  // display: flex; 
  // justify-content: space-around;
  // justify-content: center;
  padding: 0.3rem;
}

.empty-chart {
  display: flex; 
  justify-content: space-around;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 2vw;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  text-transform: capitalize !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  text-align: center !important;
  vertical-align: middle !important;
}

datatable-scroller {
  width: 100% !important;
}

:host ::ng-deep ngx-datatable {
  .datatable-scroller {
    width: 100% !important;
  }
  .datatable-scroll {
    width: 100% !important;
  }
}

// @include nb-install-component {

//   .table-header {
//     color: nb-theme(color-info-600);
//     font-size: 1rem;
//     font-weight: bold;
//     text-align: center;
//   }
  
// }

::ng-deep .datatable-body-row {
  color: red !important;
  font-weight: bolder !important;
  font-size: larger !important;
  border: 1px solid nb-theme(color-info-200);
}

::ng-deep .datatable-body-row.active .datatable-row-group {
  background-color:	#c7e2ff !important;
}


.ngx-datatable.material {
  overflow-wrap: normal;
}

.card_title_accordion:hover {
  background-color: #F5F5F5;
}


.accord-title {
  margin: auto;
  font-size: larger;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.filter-checkbox {
  flex-direction: column; 
  padding: 1rem;
  font-size: 4rem;
}

@media (min-width: 56rem) {
  .filter-checkbox {
    width: 15%;
  }
}