.img-patient{
    height: 100px;
}

.UserimgSection{
    position: relative;
}


.usernameSection{
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 15px;
    color:  var(--ion-color-primary);
}
.descText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
    color:  var(--ion-color-medium);
    font-size: 16px;
}
img{
    width: 80%;
    height: 80%;
}
.listSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
}

.borderBottomLine {
    display: block;
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #cfcfd1;
    height: 100%;
    left: 21%;
}

.fontSize{
    font-size: 30px;
}

h5{
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 16px;
}

.patientItem {
    cursor: pointer;
}
.patientItem:hover {
    background-color: #F5F5F5;
}

.userButton {
    font-weight: bolder;
}

// :host ::ng-deep nb-user.userClass {
//     font-size: larger !important;
// }
// :host ::ng-deep nb-user.userClass:hover {
//     // background-color: rebeccapurple !important;
//     font-size: larger !important;
//     color: nb-theme(text-basic-color) !important;
// }
