<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" (click)="addPatient()"  >
      <ion-button>
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="userService.logout()" >
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'TABS.HOME' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="ion-no-padding" *ngIf="patients?.length">
    <ion-item *ngFor="let patient of patients" [routerLink]="['/patient/', patient.id]">
      <ion-avatar slot="start">
        <ion-img [src]="patient?.photo ||'assets/imgs/avatar.png'" ></ion-img>
      </ion-avatar>
      <div class="usernameSection ion-no-padding">
        <h5>
          <ion-icon  name="person" color="medium"></ion-icon>
          {{patient?.name}}
        </h5>
        <p class="descText ion-no-padding ion-no-margin">{{patient?.diagnosis}}</p>
      </div>
    </ion-item>
  </ion-list>
  <div class="empty-content" *ngIf="!loading && !patients?.length ">
    <div class="illustration-wrapper">
      <ion-icon name="heart-empty"></ion-icon>
    </div>
    <div class="empty-text">You Have No Patients Yet!</div>
    <ion-button class="go-home-btn"
        (click)="addPatient()" expand="block" color="primary">
      Add Patient
    </ion-button>
  </div>
</ion-content> -->

<nb-layout center style="width: 100%;">
  <nb-layout-header fixed>
      <div class="header-container" style="padding-left: 250px;">
        <div class="logo-container">
          <a routerLink="/home" class="sidebar-toggle">
            <img src="assets/imgs/logo_1.png"/>
          </a>
          <a class="logo">{{'TABS.HOME' | translate }}</a>
        </div>
      </div>

      <div class="header-container" style="margin-left: auto!important; padding-right: 250px;">
        <nb-actions>
          <nb-action badgePosition="right" (click)="addPatient()" badgeStatus="info" title="Add New Patient" size="large" class="action-icon">
            <!-- <nb-icon class="action-icon" icon="person-add"></nb-icon> -->
            <span style="font-size: medium; font-weight: lighter;">
              Add New Patient
            </span>
            <h1></h1>
          </nb-action>
          <!-- <nb-action badgePosition="right" (click)="userService.logout()" badgeStatus="info" title="Logout" size="giant" class="action-icon">
            <nb-icon class="action-icon" icon="log-out-outline"></nb-icon>
            <span style="font-size: large; font-weight: lighter;">Logout</span>
          </nb-action> -->
          <nb-action size="giant">
            <nb-user [name]="currentUser?.name"
                    [nbContextMenu]="userMenu"
                    nbContextMenuAdjustment="counterclockwise"
                    [title]="currentUser?.specialty | titlecase"
                    shape="round"
                    class="userClass"
                    size="large">
            </nb-user>
          </nb-action>
        </nb-actions>
      </div>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card accent="info">
      <nb-card-header><h3>Patients</h3></nb-card-header>
      <nb-list *ngIf="patients?.length">
        <nb-list-item *ngFor="let patient of patients" [routerLink]="['/patient/', patient.id]" class="patientItem">
          <nb-user [name]="patient?.name"   
                   [picture]="patient?.photo ||'assets/imgs/vr-kid.png'" 
                   showName="true"
                   showTitle="true"
                   shape="semi-round"
                   size="giant"></nb-user>
        </nb-list-item>
      </nb-list>
      <nb-list>
        <nb-list-item>
          <button nbButton fullWidth shape="semi-round" status="info" (click)="addPatient()">
            Add New Patient <nb-icon icon="person-add-outline"></nb-icon>
          </button>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
</nb-layout>