.welcome {
  /* Create Your Account */

  position: absolute;
  width: 227px;
  height: 32px;
  left: 141px;
  top: 151px;

  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  /* Grayscales/Gray 1 */

  color: #222631;
}

.login {
  /* Let’s get you all se */

  position: absolute;
  width: 380px;
  height: 54px;
  left: 141px;
  top: 202px;

  /* Body/Level 4 - R */

  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  /* Grayscales/Gray 2 */

  color: #58667e;
}

.label1 {
  /* Your email address */

  position: absolute;
  left: 9.79%;
  right: 77.5%;
  top: 33.33%;
  bottom: 63.81%;

  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #4965ca;
}

.label2 {
  /* Your email address */

  position: absolute;
  left: 9.79%;
  right: 85.14%;
  top: 47.62%;
  bottom: 49.52%;

  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grayscales/Gray 1 */

  color: #222631;
}

.input1 {
  /* Inner */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 20px;
  gap: 10px;

  position: absolute;
  height: 60px;
  left: 0px;
  right: 0px;
  top: calc(50% - 60px / 2 + 14.5px);

  /* Grayscales/White */

  background: #ffffff;
  border: 1px solid #4965ca;
  box-shadow: 0px 0px 4px rgba(57, 97, 251, 0.3);
  border-radius: 8px;
}

.input2 {
  /* Inner */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 20px;
  gap: 10px;

  position: absolute;
  height: 60px;
  left: 0px;
  right: 0px;
  top: calc(50% - 60px / 2 + 14.5px);

  /* Grayscales/White */

  background: #ffffff;
  /* Grayscales/Gray 4 */

  border: 2px solid #e9edf0;
  border-radius: 8px;
}

.label3 {
  /* Create Account */

  position: absolute;
  height: 24px;
  left: 9.79%;
  right: 81.67%;
  top: calc(50% - 24px / 2 + 100px);

  /* Body/Level 5 - M */

  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  color: #c76565;
}
