.sessions-list {
    float: left;
    width: fit-content;
}

ion-item {
    display: inline-block;
    width: fit-content;
    margin-right: 5px;
}


// @import '~@nebular/theme/styles/global/breakpoints';
// @import '../../../themes';

// @include nb-install-component() {
//   // display: flex;
//   // justify-content: space-between;
//   // width: 100%;

//   // nb-action {
//   //   height: auto;
//   //   display: flex;
//   //   align-content: center;
//   // }

//   // nb-user {
//   //   cursor: pointer;
//   // }

//   // .header-container {
//   //   display: flex;
//   //   align-items: center;
//   //   width: auto;
//   // }

//   // .buttons-row {
//   //   align-items: center;
//   //   margin: -0.5rem;
//   // }

//   // button[nbButton] {
//   //   margin: 0.5rem;
//   // }

//   // button[nbButton]:hover:enabled {
//   //   // color: #45a8c8;
//   //   // background-color: white;
//   //   // border-color: #45a8c8;
//   // }

//   // .action-icon {
//   //   @include nb-ltr(margin-right, 0.5rem);
//   //   @include nb-rtl(margin-left, 0.5rem);
//   //   cursor: pointer;
//   //   font-size: larger;
//   // }
//   // .action-icon:hover {
//   //   background-color: whitesmoke;
//   // }

//   // .date-picker {
//   //   background-color: nb-theme(color-info-500);
//   //   font-weight: bolder;
//   //   color: white;
//   //   width: fit-content;
//   // }

// }

.center-div {
  margin: auto; 
  width: 55%;
}

.module-controls {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.module-control {
  width: 15%;
}

.padded {
  padding: 0.3rem;
}

.filter-label {
  // display: flex; 
  // justify-content: space-around;
  padding: 0.3rem;
}

.empty-chart {
  display: flex; 
  justify-content: space-around;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 2vw;
}
